<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.ar.mapper.ArContentMapper">
    
    <resultMap type="ArContent" id="ArContentResult">
        <result property="contentId"    column="content_id"    />
        <result property="name"    column="name"    />
        <result property="category"    column="category"    />
        <result property="url"    column="url"    />
        <result property="description"    column="description"    />
        <result property="qrCodeId"    column="qr_code_id"    />
    </resultMap>

    <sql id="selectArContentVo">
        select content_id, name, category, url, description, qr_code_id from ar_content
    </sql>

    <select id="selectArContentList" parameterType="ArContent" resultMap="ArContentResult">
        <include refid="selectArContentVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="qrCodeId != null "> and qr_code_id = #{qrCodeId}</if>
        </where>
    </select>
    
    <select id="selectArContentByContentId" parameterType="Long" resultMap="ArContentResult">
        <include refid="selectArContentVo"/>
        where content_id = #{contentId}
    </select>

    <insert id="insertArContent" parameterType="ArContent">
        insert into ar_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contentId != null">content_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="category != null and category != ''">category,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="description != null">description,</if>
            <if test="qrCodeId != null">qr_code_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contentId != null">#{contentId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="category != null and category != ''">#{category},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="description != null">#{description},</if>
            <if test="qrCodeId != null">#{qrCodeId},</if>
         </trim>
    </insert>

    <update id="updateArContent" parameterType="ArContent">
        update ar_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="description != null">description = #{description},</if>
            <if test="qrCodeId != null">qr_code_id = #{qrCodeId},</if>
        </trim>
        where content_id = #{contentId}
    </update>

    <delete id="deleteArContentByContentId" parameterType="Long">
        delete from ar_content where content_id = #{contentId}
    </delete>

    <delete id="deleteArContentByContentIds" parameterType="String">
        delete from ar_content where content_id in 
        <foreach item="contentId" collection="array" open="(" separator="," close=")">
            #{contentId}
        </foreach>
    </delete>
</mapper>