<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.ar.mapper.ProductionBatchMapper">
    
    <resultMap type="ProductionBatch" id="ProductionBatchResult">
        <result property="batchId"    column="batch_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="unit"    column="unit"    />
        <result property="productionDate"    column="production_date"    />
        <result property="productId"    column="product_id"    />
    </resultMap>

    <sql id="selectProductionBatchVo">
        select batch_id, quantity, unit, production_date, product_id from production_batch
    </sql>

    <select id="selectProductionBatchList" parameterType="ProductionBatch" resultMap="ProductionBatchResult">
        <include refid="selectProductionBatchVo"/>
        <where>  
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="params.beginProductionDate != null and params.beginProductionDate != '' and params.endProductionDate != null and params.endProductionDate != ''"> and production_date between #{params.beginProductionDate} and #{params.endProductionDate}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
        </where>
    </select>
    
    <select id="selectProductionBatchByBatchId" parameterType="Long" resultMap="ProductionBatchResult">
        <include refid="selectProductionBatchVo"/>
        where batch_id = #{batchId}
    </select>

    <insert id="insertProductionBatch" parameterType="ProductionBatch">
        insert into production_batch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchId != null">batch_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="unit != null and unit != ''">unit,</if>
            <if test="productionDate != null">production_date,</if>
            <if test="productId != null">product_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchId != null">#{batchId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="unit != null and unit != ''">#{unit},</if>
            <if test="productionDate != null">#{productionDate},</if>
            <if test="productId != null">#{productId},</if>
         </trim>
    </insert>

    <update id="updateProductionBatch" parameterType="ProductionBatch">
        update production_batch
        <trim prefix="SET" suffixOverrides=",">
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="unit != null and unit != ''">unit = #{unit},</if>
            <if test="productionDate != null">production_date = #{productionDate},</if>
            <if test="productId != null">product_id = #{productId},</if>
        </trim>
        where batch_id = #{batchId}
    </update>

    <delete id="deleteProductionBatchByBatchId" parameterType="Long">
        delete from production_batch where batch_id = #{batchId}
    </delete>

    <delete id="deleteProductionBatchByBatchIds" parameterType="String">
        delete from production_batch where batch_id in 
        <foreach item="batchId" collection="array" open="(" separator="," close=")">
            #{batchId}
        </foreach>
    </delete>
</mapper>