<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ar.mapper.SandboxZoneMapper">

    <resultMap type="SandboxZone" id="SandboxZoneResult">
        <result property="zoneId" column="zone_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="qrCodeId" column="qr_code_id"/>
        <result property="factoryId" column="factory_id"/>
        <result property="factoryName" column="factory_name"/>
    </resultMap>

    <sql id="selectSandboxZoneVo">
        select sz.zone_id,
               sz.name,
               sz.description,
               sz.qr_code_id,
               sz.factory_id,
               f.name as factory_name
        from sandbox_zone sz
                 left join factory f on sz.factory_id = f.factory_id
    </sql>

    <select id="selectSandboxZoneList" parameterType="SandboxZone" resultMap="SandboxZoneResult">
        <include refid="selectSandboxZoneVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''">and description = #{description}</if>
            <if test="qrCodeId != null ">
                <choose>
                    <!-- 当传入 qrCodeId=0 时，查询 qr_code_id 为
                   null 的记录 -->
                    <when test="qrCodeId == 0">
                        and qr_code_id is null
                    </when>
                    <!-- 其他值时查询等于该值的记录 -->
                    <otherwise>
                        and qr_code_id = #{qrCodeId}
                    </otherwise>
                </choose>
            </if>
            <if test="factoryId != null ">and factory_id = #{factoryId}</if>
        </where>
    </select>

    <select id="selectSandboxZoneByZoneId" parameterType="Long" resultMap="SandboxZoneResult">
        <include refid="selectSandboxZoneVo"/>
        where zone_id = #{zoneId}
    </select>

    <insert id="insertSandboxZone" parameterType="SandboxZone">
        insert into sandbox_zone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="zoneId != null">zone_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="qrCodeId != null">qr_code_id,</if>
            <if test="factoryId != null">factory_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="zoneId != null">#{zoneId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="qrCodeId != null">#{qrCodeId},</if>
            <if test="factoryId != null">#{factoryId},</if>
        </trim>
    </insert>

    <update id="updateSandboxZone" parameterType="SandboxZone">
        update sandbox_zone
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="factoryId != null">factory_id = #{factoryId},</if>
            <choose>
                <when test="qrCodeId == 0">
                    qr_code_id = NULL,
                </when>
                <!-- 允许 qrCodeId 为 null 时也清空 -->
                <otherwise>
                    qr_code_id = #{qrCodeId},
                </otherwise>
            </choose>
        </trim>
        where zone_id = #{zoneId}
    </update>

    <delete id="deleteSandboxZoneByZoneId" parameterType="Long">
        delete
        from sandbox_zone
        where zone_id = #{zoneId}
    </delete>

    <delete id="deleteSandboxZoneByZoneIds" parameterType="String">
        delete from sandbox_zone where zone_id in
        <foreach item="zoneId" collection="array" open="(" separator="," close=")">
            #{zoneId}
        </foreach>
    </delete>
</mapper>