<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.QrCodeMapper">
    
    <resultMap type="QrCode" id="QrCodeResult">
        <result property="qrCodeId"    column="qr_code_id"    />
        <result property="qrCodeImageUrl"    column="qr_code_image_url"    />
    </resultMap>

    <sql id="selectQrCodeVo">
        select qr_code_id, qr_code_image_url from qr_code
    </sql>

    <select id="selectQrCodeList" parameterType="QrCode" resultMap="QrCodeResult">
        <include refid="selectQrCodeVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectQrCodeByQrCodeId" parameterType="Long" resultMap="QrCodeResult">
        <include refid="selectQrCodeVo"/>
        where qr_code_id = #{qrCodeId}
    </select>

    <insert id="insertQrCode" parameterType="QrCode">
        insert into qr_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qrCodeId != null">qr_code_id,</if>
            <if test="qrCodeImageUrl != null and qrCodeImageUrl != ''">qr_code_image_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="qrCodeId != null">#{qrCodeId},</if>
            <if test="qrCodeImageUrl != null and qrCodeImageUrl != ''">#{qrCodeImageUrl},</if>
         </trim>
    </insert>

    <update id="updateQrCode" parameterType="QrCode">
        update qr_code
        <trim prefix="SET" suffixOverrides=",">
            <if test="qrCodeImageUrl != null and qrCodeImageUrl != ''">qr_code_image_url = #{qrCodeImageUrl},</if>
        </trim>
        where qr_code_id = #{qrCodeId}
    </update>

    <delete id="deleteQrCodeByQrCodeId" parameterType="Long">
        delete from qr_code where qr_code_id = #{qrCodeId}
    </delete>

    <delete id="deleteQrCodeByQrCodeIds" parameterType="String">
        delete from qr_code where qr_code_id in 
        <foreach item="qrCodeId" collection="array" open="(" separator="," close=")">
            #{qrCodeId}
        </foreach>
    </delete>
</mapper>