<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vr.mapper.WorkMapper">
    
    <resultMap type="Work" id="WorkResult">
        <result property="workId"    column="work_id"    />
        <result property="title"    column="title"    />
        <result property="authors"    column="authors"    />
        <result property="instructor"    column="instructor"    />
        <result property="awardInfo"    column="award_info"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectWorkVo">
        select work_id, title, authors, instructor, award_info, description from work
    </sql>

    <select id="selectWorkList" parameterType="Work" resultMap="WorkResult">
        <include refid="selectWorkVo"/>
        <where>  
            <if test="params.beginTitle != null and params.beginTitle != '' and params.endTitle != null and params.endTitle != ''"> and title between #{params.beginTitle} and #{params.endTitle}</if>
            <if test="params.beginAuthors != null and params.beginAuthors != '' and params.endAuthors != null and params.endAuthors != ''"> and authors between #{params.beginAuthors} and #{params.endAuthors}</if>
            <if test="params.beginInstructor != null and params.beginInstructor != '' and params.endInstructor != null and params.endInstructor != ''"> and instructor between #{params.beginInstructor} and #{params.endInstructor}</if>
            <if test="params.beginAwardInfo != null and params.beginAwardInfo != '' and params.endAwardInfo != null and params.endAwardInfo != ''"> and award_info between #{params.beginAwardInfo} and #{params.endAwardInfo}</if>
        </where>
    </select>
    
    <select id="selectWorkByWorkId" parameterType="Long" resultMap="WorkResult">
        <include refid="selectWorkVo"/>
        where work_id = #{workId}
    </select>

    <insert id="insertWork" parameterType="Work">
        insert into work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workId != null">work_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="authors != null and authors != ''">authors,</if>
            <if test="instructor != null and instructor != ''">instructor,</if>
            <if test="awardInfo != null and awardInfo != ''">award_info,</if>
            <if test="description != null and description != ''">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workId != null">#{workId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="authors != null and authors != ''">#{authors},</if>
            <if test="instructor != null and instructor != ''">#{instructor},</if>
            <if test="awardInfo != null and awardInfo != ''">#{awardInfo},</if>
            <if test="description != null and description != ''">#{description},</if>
         </trim>
    </insert>

    <update id="updateWork" parameterType="Work">
        update work
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="authors != null and authors != ''">authors = #{authors},</if>
            <if test="instructor != null and instructor != ''">instructor = #{instructor},</if>
            <if test="awardInfo != null and awardInfo != ''">award_info = #{awardInfo},</if>
            <if test="description != null and description != ''">description = #{description},</if>
        </trim>
        where work_id = #{workId}
    </update>

    <delete id="deleteWorkByWorkId" parameterType="Long">
        delete from work where work_id = #{workId}
    </delete>

    <delete id="deleteWorkByWorkIds" parameterType="String">
        delete from work where work_id in 
        <foreach item="workId" collection="array" open="(" separator="," close=")">
            #{workId}
        </foreach>
    </delete>
</mapper>